## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Santa Cruz,BO,-17.8000,-63.1667,78.85,44,75,9.22,broken clouds
1,1,Jamestown,US,42.0970,-79.2353,65.84,94,100,11.50,light rain
2,2,Baturite,BR,-4.3286,-38.8847,83.70,64,41,8.70,scattered clouds
3,3,Riihimaki,FI,60.7377,24.7773,53.94,37,89,5.10,overcast clouds
4,4,Boda,CF,4.3189,17.4695,81.81,56,49,3.40,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
selected_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
selected_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Santa Cruz,BO,-17.8000,-63.1667,78.85,44,75,9.22,broken clouds
2,2,Baturite,BR,-4.3286,-38.8847,83.70,64,41,8.70,scattered clouds
4,4,Boda,CF,4.3189,17.4695,81.81,56,49,3.40,scattered clouds
7,7,Dingle,PH,10.9995,122.6711,77.61,90,100,4.25,overcast clouds
8,8,Albany,US,42.6001,-73.9662,88.92,50,35,10.04,scattered clouds
9,9,Bambous Virieux,MU,-20.3428,57.7575,75.45,73,40,10.36,light rain
12,12,Faanui,PF,-16.4833,-151.7500,80.74,71,8,13.22,clear sky
14,14,Kikwit,CD,-5.0410,18.8162,77.22,73,86,4.00,light rain
15,15,Nago,JP,26.5881,127.9761,74.25,83,92,5.84,overcast clouds
16,16,Rikitea,PF,-23.1203,-134.9692,75.92,76,8,14.09,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
selected_cities_df.count()

City_ID                274
City                   274
Country                274
Lat                    274
Lng                    274
Max Temp               274
Humidity               274
Cloudiness             274
Wind Speed             274
Current Description    274
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = selected_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Santa Cruz,BO,-17.8000,-63.1667,78.85,44,75,9.22,broken clouds
2,2,Baturite,BR,-4.3286,-38.8847,83.70,64,41,8.70,scattered clouds
4,4,Boda,CF,4.3189,17.4695,81.81,56,49,3.40,scattered clouds
7,7,Dingle,PH,10.9995,122.6711,77.61,90,100,4.25,overcast clouds
8,8,Albany,US,42.6001,-73.9662,88.92,50,35,10.04,scattered clouds
...,...,...,...,...,...,...,...,...,...,...
648,648,Lat Yao,TH,15.7510,99.7893,77.50,78,100,6.78,overcast clouds
649,649,Lithakia,GR,37.7167,20.8333,72.77,77,1,8.21,clear sky
652,652,Milas,TR,37.3164,27.7839,72.75,40,20,6.91,few clouds
653,653,Changping,CN,40.2186,116.2197,74.84,41,63,3.76,broken clouds
655,655,Banjar,ID,-8.1900,114.9675,77.85,87,100,3.74,overcast clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Santa Cruz,BO,78.85,broken clouds,-17.8000,-63.1667,
2,Baturite,BR,83.70,scattered clouds,-4.3286,-38.8847,
4,Boda,CF,81.81,scattered clouds,4.3189,17.4695,
7,Dingle,PH,77.61,overcast clouds,10.9995,122.6711,
8,Albany,US,88.92,scattered clouds,42.6001,-73.9662,
9,Bambous Virieux,MU,75.45,light rain,-20.3428,57.7575,
12,Faanui,PF,80.74,clear sky,-16.4833,-151.7500,
14,Kikwit,CD,77.22,light rain,-5.0410,18.8162,
15,Nago,JP,74.25,overcast clouds,26.5881,127.9761,
16,Rikitea,PF,75.92,clear sky,-23.1203,-134.9692,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Santa Cruz,BO,78.85,broken clouds,-17.8000,-63.1667,Aviador Hotel Boutique
2,Baturite,BR,83.70,scattered clouds,-4.3286,-38.8847,Hotel Padre Cícero
7,Dingle,PH,77.61,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
9,Bambous Virieux,MU,75.45,light rain,-20.3428,57.7575,Casa Tia Villa
12,Faanui,PF,80.74,clear sky,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
14,Kikwit,CD,77.22,light rain,-5.0410,18.8162,HOTEL PLACE YALABA
15,Nago,JP,74.25,overcast clouds,26.5881,127.9761,Hotel Yugaf Inn Okinawa
16,Rikitea,PF,75.92,clear sky,-23.1203,-134.9692,People ThankYou
17,Tandur,IN,89.17,clear sky,17.2333,77.5833,SPOT ON 63149 Swagath Residency
19,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))